.hero {
  &__row {
  }

  &__content {
    padding-bottom: 2rem;
  }

  &__image-wrapper {
    display: inline-block;
  }

  &__image {
    margin: 0 0.5rem;
    width: 100px;
    height: 100px;
    border: 1px solid $color-black;
    border-radius: 50%;

    &__accent {
      position: absolute;
      top: -1rem;
      left: 0;
      height: 2rem;
    }
  }
}
