// -----------------------------------------------------------------------------
// Basic typography style for copy text
// -----------------------------------------------------------------------------

.heading-xl {
  font-family: $font-heading;
  font-size: 5.625rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;

  @media all and (max-width: $bp-tablet-sm) {
    font-size: 3rem;
  }
}

.heading-lg {
  font-family: $font-heading;
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;

  @media all and (max-width: $bp-tablet-sm) {
    font-size: 2.5rem;
  }
}

.heading-md {
  font-size: 1.875rem;
  line-height: 1.2;

  @media all and (max-width: $bp-tablet-sm) {
    font-size: 1.5rem;
  }
}

.heading-sm {
  font-family: $font-medium;
  font-size: 1.75rem;
  line-height: 1.2;

  @media all and (max-width: $bp-tablet-sm) {
    font-size: 1.125rem;
  }
}

.heading-xs {
  font-family: $font-medium;
  font-size: 1.375rem;
  line-height: 1.2;
}

.heading-xxs {
  font-family: $font-medium;
  font-size: 1.125rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.body-xl,
.body-xl p {
  font-family: $font-regular;
  font-size: 1.375rem;
  line-height: 1.4;
  color: #000;

  @media all and (max-width: $bp-tablet-sm) {
    font-size: 1.125rem;
  }
}

.text-uppercase {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &--sm {
    font-size: 0.75rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 1rem;
  font-weight: normal;
  color: $color-black;
  letter-spacing: -0.64px;
}

body,
p,
ol,
ul {
  font-family: $font-body;
  font-size: 0.9375rem;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0;
}

p,
ol,
ul {
  color: $color-grey;
}

p {
  &:not(:last-child) {
    padding-bottom: 1rem;
  }
}

.font-md {
  font-family: $font-medium;
}

.font-reg {
  font-family: $font-regular;
}
